<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListCheckOff">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Shopping List Check Off</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div ng-controller="ToBuyController as toBuyCtrl">
        <h2>To Buy:</h2>
        <p ng-if="toBuyCtrl.items.length === 0">Everything is bought!</p>
        <ul>
            <li ng-repeat="item in toBuyCtrl.items">
                Buy {{ item.quantity }} {{ item.name }}
                <button ng-click="toBuyCtrl.buyItem($index)">Bought</button>
            </li>
        </ul>
    </div>

    <div ng-controller="AlreadyBoughtController as boughtCtrl">
        <h2>Already Bought:</h2>
        <p ng-if="boughtCtrl.items.length === 0">Nothing bought yet.</p>
        <ul>
            <li ng-repeat="item in boughtCtrl.items">
                Bought {{ item.quantity }} {{ item.name }}
            </li>
        </ul>
    </div>
</body>
</html>
